{
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.module.css.d.ts",
      "options": {
        "quoteProps": "preserve"
      }
    }
  ]
}
